<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wildlife Observers</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.account.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div>
                   <h2>About:<span class="member-name"> </span>!</h2> 
                </div>
                <div id="redirect-links">
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="/members">Members</a>
                    <a class="navbar-brand" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="sideContainer">
        
        <textarea class="whiteboard" id="change-username">{{user.userName}}</textarea>
        <button id="change-username-button">Change Username</button>
        <textarea class="whiteboard" id="change-email">{{user.email}}</textarea>
        <button id="change-email-button">Change Email</button>
    </div>

    <div class="previous-postsContainer">
        <div class="flex-grid">
            <section class="main">
                <h1>Previous Posts</h1>
                <ul class="user-posted-list">
                    <div class="grid"></div>
                    {{#each animal}}
                        <div class="grid-item box">
                            <div class="info-box">
                                <h3>{{animal_species}}</h3>
                                <h5>{{note}}</h5>
                                <p>Longitude: {{ longitude }}</p>
                                <p>Latitude: {{ latitude }}</p>
                            </div>
                            <div class="prev-post-box">
                                <img src="/img/uploads/{{picture}}" class="prev-post">
                            </div>  
                        </div>
                    {{/each}}
                </ul>

            </section>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/account.js"></script>
</body>

</html>
