<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wildlife Observers</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.members.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div>
                   <h2>Welcome:<span class="member-name"> </span>!</h2> 
                </div>
                <div id="redirect-links">
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="/members">Members</a>
                    <a class="navbar-brand" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="sideContainer">
        <button id="create-obs">Create New Observation </button>

        <button id="my-account">My Account</button>
        <button id="explore">Explore</button>
    </div>

    <div class="container">
        <div class="flex-grid">
            <section class="col main">
                <ul class="user-posted-list"><h1>10 Most Recent Posts</h1>
                    <div class="grid"></div>
                    {{#each animal}}
                    <div class="grid-item box">
                        <h3>{{ animal_species }}</h3>
                        <p>Longitude: {{ longitude }}</p>
                        <p>Latitude: {{ latitude }}</p>
                        <p>Hostile: {{ hostile }}</p>
                        <h4>Notes: {{ note }}</h4>
                    </div>
                    {{/each}}
                </ul>

            </section>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
</body>

</html>
